@{
    ViewBag.Title = "Order Confirmed";
}


<h2>Order Confirmed</h2>
<p>Thank you for your order! Your order has been successfully placed.</p>
<p>Please check your email for confirmation of your order!</p>
