<header class="app-header navbar">
    <div class="d-flex justify-content-between align-items-center">
        <button class="navbar-toggler sidebar-toggler d-lg-none" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>

        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="nav navbar-nav">
            <li class="nav-item px-3">
            <li>@Html.ActionLink("Dashboard", "Index", "AdminDashboard", new { area = "" }, new { @class = "nav-link" })</li>
            </li>
            <li class="nav-item px-3">
            <li> @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-link" })</li>
            </li>
        </ul>
    </div>
</header>
