<header class=" navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>

    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <li>@Html.ActionLink("Dashboard", "Index", "AdminDashboard", new { area = "" }, new { @class = "nav-link" })</li>        
        </li>
        <li class="nav-item px-3">
            <li> @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-link" })</li>
        </li>
    </ul>

    
</header>