body {
	background-color: #F2E4CD;
}

#heroCarousel {
	width: 100%;
	height: 100vh; /* Adjust the height as needed */

}

.carousel-inner {
	height: 100%;
}

.carousel-item {
	height: 100%;
	position: relative;
}

.carousel-image {
	height: 100%;
	object-fit: cover;
}


.carousel-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	z-index: 1;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	text-align: center;
	width: 100%;
}


.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #F2E4CD;
}

	.hero-text h1 {
		color: #F2E4CD;
		font-size: 48px;
		margin-bottom: 20px;
	}

	.hero-text p {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.hero-text btn {
		padding: 12px 24px;
		font-size: 18px;
		background-color: #fff;
		color: #000;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

.carousel-control-prev,
.carousel-control-next {
	width: 15%;
	height: 100%;
	top: 0;
	bottom: 0;
	opacity: 0.5;
	z-index: 3;


}



	.carousel-control-prev:hover,
	.carousel-control-next:hover {
		opacity: 1;
	}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
	transform: translateX(0);
}

.carousel-item-next,
.active.carousel-item-right {
	transform: translateX(100%);
}

.carousel-item-prev,
.active.carousel-item-left {
	transform: translateX(-100%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}


.drink-section-text {
	font-family: "Jura";
	margin-top: 129px;
	white-space: nowrap;
}



	.drink-section-text h3 {
		font-weight: 700;
	}


.sobee-hour {
	text-align: left;
	padding: 40px;
	display: inline-flex;
	background-color: #F2E4CD;

}

	.sobee-hour h3 {
		font-size: 44px;
		margin-bottom: 20px;
	}

	.sobee-hour p {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.product-images img {
		margin-bottom: 30px;

	}

.product-images img {
	width: 600px;
	height:610px;
	margin: 0 10px;
	margin-left: -218px;
	margin-right: 50px;

}

.sobee-hour .shop-now-btn {
	padding: 12px 24px;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	background-color: #FF5722;
	color: #FFFFFF;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	text-align:center;
}

	.sobee-hour .shop-now-btn:hover {
		background-color: #E64A19;
	}



.product-section {
	display: flex;
	justify-content: space-between;
	font-family: 'Karla', sans-serif;
	text-align: center;
	padding: 40px;
	position: relative;
	margin-right: -100px;
	margin-left: -100px;
}


.product-item {
	flex-basis: 30%;
}

	.product-item img {
		width: 100%;
		max-width: 300px;
		margin-bottom: 20px;
	}

#product-section-container div {
	margin-left: -100px;
	margin-right: -100px;
	margin-bottom: 50px;
}

.border-line {
	position: absolute;
	left: 0;
	right: 0;
	height: 1px; /* Adjust the height of the border line */
	background-color: black; /* Adjust the color of the border line */
}

	.border-line.top {
		top: 1;
	}

	.border-line.bottom {
		bottom: 1;
	}

.product-item h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

	.product-item p {
		font-size: 18px;
	}

section {
	margin-top: 150px;


}

.instagram-link {
	text-align: center;
}

.review-rating {
	color: #ffc107;
	margin-bottom: 10px;

}

	.review-rating .fas {
		color: #ffc107;
	}

	.review-rating .far {
		color: #ffc107;
	}

#reviewsCarouselContainer {

}


.review-card {
	background-color: #18264D;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	max-width: 400px;
	padding: 20px;
	text-align: center;
}

.review-text {
	font-size: 18px;
	color: white;
	margin-bottom: 10px;
}

.review-rating {
	color: #FFD700;
	margin-bottom: 10px;
}

.review-author {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	color: white;
}

.review-date {
	color: #888;
	font-size: 14px;
	color: white;
}
.review-text {
	font-size: 16px;
	margin-bottom: 5px;
}

.review-author {
	font-weight: bold;
	color: white;
}

.review-date {
	color: #888;
	font-size: 14px;
	color: white;
}

#reviewSection {
	text-align: center;

}

#reviewSection h2 {
	text-align: center;
	margin-bottom: -140px;
}


#reviewsCarousel .carousel-item::before {
	content: none;
}

#reviewsCarousel .carousel-item {
	background: none;
}











.reviews-section {
	text-align: center;
	position: relative;
	text-align: center;
	padding: 50px 0;
	padding-top: 175px;
	margin-left: -304px;
	margin-right: -304px;
}

	.reviews-section h2 {
		margin-bottom: 30px;
	}

.background-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.background-image {
	width: 50%;
	height: 100%;
	object-fit: cover;
}

.overlay-image {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	z-index: -1;
}

.reviews-carousel-container {
	background-color: #EE642D;
	position: relative;
	z-index: 1;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
}

.review-card {

	border-radius: 5px;

	padding: 20px;
	margin-bottom: 20px;


}

.review-rating {
	color: #FFD700;
	margin-bottom: 10px;
}

	.review-rating .fas {
		color: #FFD700;
	}

	.review-rating .far {
		color: #FFD700;
	}

.review-text {
	font-size: 24px;
	margin-bottom: 10px;
}

.review-author {
	font-weight: bold;
	font-size: 18px;
}