html, body {
	height: 100%;
}

/*.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}*/

.footer {
	grid-row-start: 3;
	grid-row-end: 4;
}



body {
	margin-top: 56px;
	background-color: #F2E4CD;
}

/* Custom Navigation Bar Styles */
.navbar-custom {
	background-color: #18264D; /* Dark blue background */
	color: #EE642D; /* Orange text */
	margin: 0px;
}

	.navbar-custom .nav-link {
		color: #EE642D; /* Orange text for links */
	}

		.navbar-custom .nav-link:hover {
			color: #ffffff; /* White color on hover */
		}

.navbar-logo-center {
	position: absolute;
	left: 48%; /* Move to 50% from the left of the nearest positioned ancestor */
	transform: translateX(-50%); /* Shift it back by 50% of its own width */
	top: 50%;
	transform: translateY(-50%); /* Aligns vertically center */
}

/* Ensure no overlap of text and logo on smaller screens */
@media (max-width: 576px) {
	.navbar-nav {
		margin-top: 75px; /* Adjust based on your logo size */
	}
}

.navbar-nav.ms-auto {
	margin-left: auto;
}

.auth_links {
	color: white;
}
.form-inline button, li {
	margin: 0px;
	padding: 0px;
}

#cartIcon {
	text-align: center;
	display: inline-flex;
	padding-right: 10px;
}

#cartItemCount {
	margin-top: 8px;
}

#footer-container {
	padding-top: 40px;
	position: relative;
}



.footer {
	background-color: #000;
	color: #fff;
	margin-top: 375px;
	font-family: Arial, sans-serif;


}

.footer-content {

	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;
}

.footer-column {
	flex: 1;
	margin-right: 20px;
}

	.footer-column h4 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.footer-column ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

		.footer-column ul li {
			margin-bottom: 5px;
		}

			.footer-column ul li a {
				color: #fff;
				text-decoration: none;
				font-size: 14px;
			}

.footer-bottom {

	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 25px auto 0;
	padding-top: 20px;
	border-top: 1px solid #fff;
}

.footer-text p {
	font-size: 12px;
	margin: 0;
}

.footer-links a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	margin-left: 10px;
}
